[Imitate voice]

# Setting type: Boolean
# Default value: false
Red pill = false

# Setting type: Boolean
# Default value: false
Flowerman = false

# Setting type: Boolean
# Default value: false
Centipede = false

# Setting type: Boolean
# Default value: false
MouthDog = false

# Setting type: Boolean
# Default value: false
Crawler = false

# Setting type: Boolean
# Default value: false
Hoarding bug = false

# Setting type: Boolean
# Default value: false
Bunker Spider = false

# Setting type: Boolean
# Default value: false
Blob = false

# Setting type: Boolean
# Default value: false
ForestGiant = false

# Setting type: Boolean
# Default value: false
Girl = false

# Setting type: Boolean
# Default value: false
Lasso = false

# Setting type: Boolean
# Default value: false
Spring = false

# Setting type: Boolean
# Default value: false
Earth Leviathan = false

# Setting type: Boolean
# Default value: false
Jester = false

# Setting type: Boolean
# Default value: false
Puffer = false

# Setting type: Boolean
# Default value: false
Manticoil = false

# Setting type: Boolean
# Default value: false
Docile Locust Bees = false

# Setting type: Boolean
# Default value: false
Red Locust Bees = false

# Setting type: Boolean
# Default value: false
Baboon hawk = false

# Setting type: Boolean
# Default value: false
Nutcracker = false

# Setting type: Boolean
# Default value: true
Masked = true

# Setting type: Boolean
# Default value: false
RadMech = false

# Setting type: Boolean
# Default value: false
Butler = false

# Setting type: Boolean
# Default value: false
Butler Bees = false

# Setting type: Boolean
# Default value: false
Tulip Snake = false

# Setting type: Boolean
# Default value: false
Clay Surgeon = false

# Setting type: Boolean
# Default value: false
Maneater = false

# Setting type: Boolean
# Default value: false
Singed Maneater = false

# Setting type: Boolean
# Default value: false
Shockwave Drone = false

# Setting type: Boolean
# Default value: false
Boomba = false

# Setting type: Boolean
# Default value: false
Maggie = false

# Setting type: Boolean
# Default value: false
Crystal Ray = false

# Setting type: Boolean
# Default value: false
Shy guy = false

# Setting type: Boolean
# Default value: false
SlendermanEnemy = false

